<form class='form-horizontal' action='/set_name' method='post'>
  <h3>Welcome to Black Sinatra. What is your name?</h3>
  <div><input type ='text' name = 'player_name' placeholder = 'Enter your name here' id='name_field'/></div>
  </br>
  <div><input type = 'submit' class='btn btn-primary'/></div>
</form>